<h1>Умения</h1>

<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Нзвание</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @skills.each do |skill| %>
      <tr>
        <td><%= skill.name %></td>
        <td><%= link_to 'Удалить', skill, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= render 'form' %>
